*{
  /* margin: 0; */
 }
 
  body {
	  font-family: Tahoma, sans-serif;
	  font-size: 16px;
	  display: flex;
	  flex-direction: column;
	  min-height: 100vh;
	  margin: 0px
  }
  
  
   header {
	   background-color: #FEF7EC;
	   padding: 20px;
   }
   
   h1 {
	   font-family: Georgia, serif;
   }
   
   nav {
	   background-color: #873600;
	   color: #FAD7A0;
	   font-weight: bold;
	   font-size: 20px;
	   padding: 10px
   }
   
   main {
	   padding: 20px;
   }
   
   footer {
	   background-color: #1c2833;
	   font-size: .8em;
	   font-style: italic;
	   color: #ffffff;
	   margin-top: auto;
	   padding: 10px;
   }
   
   .logoImg {
	   width: 200px;
   }
   
   .logoDiv {
	   text-align: center;
   }
   
   a:link { color: #873600; }
   a:visited { color: #873600; }
   a:hover { color: gold; }
   a:active { color: gold; }
   
   nav a:link { color: #FAD7A0; text-decoration: none; }
   nav a:visited { color: #FAD7A0; }
   nav a:hover { color: gold; }
   nav a:active { color: gold; }
   
   .pageTitle {
	   padding-bottom: 10px;
	   border-bottom: 1px solid #cccccc;
	   margin-bottom: 20px;
   }
   
   #videoLayout {
	   border: 0px;
   }
   
   .YouTubeVideo {
	   background-color: #ffe3ae;
	   border: 0px;
	   vertical-align: top;
   }
   
   .VideoWidget {
	   border: 0px;
	   vertical-align: top;
   }